Repository disrupted/things-cloud-api: changes, and which lefthook commands are due for each by the changed paths.
All: lock, lint, fmt

lock:
  run: uv lock --check

lint:
  run: uv run ruff check --fix {staged_files}
  stage_fixed: true

fmt:
  run: uv run ruff format {staged_files}
  stage_fixed: true

dev: migrate pre-commit to lefthook
  .lefthook.yaml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: lock

ci: remove pre-commit auto-update workflow
  .github/workflows/pre-commit-auto-update.yml
Due: none

refactor: improve conditions
  .lefthook.yaml
Due: none

fix: fix typo
  .lefthook.yaml
Due: none

dev: migrate pre-commit to lefthook (#223)
  .github/workflows/pre-commit-auto-update.yml
  .lefthook.yaml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: lock

feat: add some new attributes to API objects
  things_cloud/models/todo.py
Due: lint, fmt

ci: check ruff format instead of applying it
  .github/workflows/python-app.yml
Due: none

ci: check ruff format instead of applying it (#225)
  .github/workflows/python-app.yml
Due: none

Path conditions:
  lock: any of: uv.lock
  lint: any of: *.py
  fmt: any of: *.py
