Repository disrupted/things-cloud-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, ruff-lint, ruff-format, pyright

poetry-check:
  name: poetry-check
  description: validate Poetry config and dependency lock file
  entry: poetry check
  language: python
  pass_filenames: false

ruff-lint:
  name: ruff-lint
  entry: poetry run ruff check
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: poetry run ruff format
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: poetry run pyright
  language: system
  require_serial: true

Apply Ruff
  things_cloud/models/serde.py
Due: ruff-lint, ruff-format, pyright

Replace deque import
  things_cloud/models/todo.py
Due: ruff-lint, ruff-format, pyright

Try fix pre-commit
  poetry.lock
  pyproject.toml
Due: poetry-check

Improve typing for decorator
  things_cloud/models/todo.py
Due: ruff-lint, ruff-format, pyright

Replace deprecated utcnow
  things_cloud/utils.py
Due: ruff-lint, ruff-format, pyright

Update test
  tests/test_utils.py
Due: ruff-lint, ruff-format, pyright

Fix errors
  things_cloud/models/todo.py
Due: ruff-lint, ruff-format, pyright

deps: modernize dev tooling (#213)
  .github/workflows/_lint-github-ci.yml
  .github/workflows/pre-commit-auto-update.yml
  .github/workflows/python-app.yml
  .github/workflows/python-publish.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  setup.cfg
  tests/test_utils.py
  things_cloud/models/serde.py
  things_cloud/models/todo.py
  things_cloud/utils.py
Due: poetry-check, ruff-lint, ruff-format, pyright

Refactor IntEnum
  things_cloud/models/todo.py
Due: ruff-lint, ruff-format, pyright

Try out Pydantic
  poetry.lock
  pyproject.toml
  tests/test_todo.py
  things_cloud/api/client.py
  things_cloud/models/todo.py
Due: poetry-check, ruff-lint, ruff-format, pyright

Create separate API object model
  tests/test_todo.py
  things_cloud/models/serde.py
  things_cloud/models/todo.py
Due: ruff-lint, ruff-format, pyright

Use Annotated
  things_cloud/models/todo.py
Due: ruff-lint, ruff-format, pyright

Refactor
  tests/test_things.py
  tests/test_todo.py
  things_cloud/models/todo.py
Due: ruff-lint, ruff-format, pyright

Update test
  tests/test_things.py
Due: ruff-lint, ruff-format, pyright

Refactor tests & add additional checks
  tests/test_todo.py
  things_cloud/models/todo.py
Due: ruff-lint, ruff-format, pyright

Use Pydantic for History API models and applying updates
  tests/test_things.py
  things_cloud/api/client.py
  things_cloud/models/todo.py
Due: ruff-lint, ruff-format, pyright

Implement commit
  tests/test_todo.py
  things_cloud/api/client.py
  things_cloud/models/todo.py
Due: ruff-lint, ruff-format, pyright

Update example
  main.py
Due: ruff-lint, ruff-format, pyright

Replace create & edit with unified commit method
  main.py
  tests/test_todo.py
  things_cloud/api/client.py
  things_cloud/models/todo.py
Due: ruff-lint, ruff-format, pyright

Update usage
  README.md
  main.py
  tests/test_things.py
Due: ruff-lint, ruff-format, pyright

Update tests
  pyproject.toml
  tests/test_todo.py
Due: poetry-check, ruff-lint, ruff-format, pyright

refactor: rewrite API models & commit logic (#214)
  .github/workflows/_lint-github-ci.yml
  .github/workflows/pre-commit-auto-update.yml
  .github/workflows/python-app.yml
  .github/workflows/python-publish.yml
  .pre-commit-config.yaml
  README.md
  main.py
  poetry.lock
  pyproject.toml
  setup.cfg
  tests/test_things.py
  tests/test_todo.py
  tests/test_utils.py
  things_cloud/api/client.py
  things_cloud/models/serde.py
  things_cloud/models/todo.py
  things_cloud/utils.py
Due: poetry-check, ruff-lint, ruff-format, pyright

Add mocks for API tests
  poetry.lock
  pyproject.toml
  tests/test_things.py
  things_cloud/api/client.py
  things_cloud/models/todo.py
Due: poetry-check, ruff-lint, ruff-format, pyright

feat: implement login (#212)
  README.md
  main.py
  poetry.lock
  pyproject.toml
  tests/test_things.py
  things_cloud/api/account.py
  things_cloud/api/client.py
  things_cloud/models/todo.py
Due: poetry-check, ruff-lint, ruff-format, pyright

refactor: rename internal synced state
  tests/test_todo.py
  things_cloud/models/todo.py
Due: ruff-lint, ruff-format, pyright

fix: improve timestamp handling for floats
  tests/test_todo.py
  things_cloud/models/serde.py
  things_cloud/models/todo.py
Due: ruff-lint, ruff-format, pyright

refactor: improve time handling & organize serde
  tests/test_todo.py
  things_cloud/models/serde.py
  things_cloud/models/todo.py
  things_cloud/models/types.py
Due: ruff-lint, ruff-format, pyright

fix: missing modification date and apply commit on edit
  tests/test_things.py
  tests/test_todo.py
  things_cloud/api/client.py
  things_cloud/api/exceptions.py
  things_cloud/models/todo.py
Due: ruff-lint, ruff-format, pyright

fix: do not increment index before update
  tests/test_things.py
  tests/test_todo.py
  things_cloud/api/client.py
  things_cloud/models/todo.py
Due: ruff-lint, ruff-format, pyright

chore: migrate from Poetry to uv
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  tests/test_things.py
  tests/test_todo.py
  tests/test_utils.py
  things_cloud/models/types.py
  things_cloud/utils.py
  uv.lock
Due: poetry-check, ruff-lint, ruff-format, pyright

fix: revert name and authors
  pyproject.toml
  uv.lock
Due: poetry-check

ci: add uv
  .github/workflows/python-app.yml
Due: none

ci: disable dependabot
  .github/dependabot.yml
Due: none

fix(pyproject): correct authors
  pyproject.toml
Due: poetry-check

docs: update readme
  README.md
Due: none

ci: split main workflow in lint & test jobs
  .github/workflows/python-app.yml
Due: none

ci: update publish workflow
  .github/workflows/python-publish.yml
Due: none

chore: migrate from Poetry to uv (#220)
  .github/dependabot.yml
  .github/workflows/python-app.yml
  .github/workflows/python-publish.yml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  tests/test_things.py
  tests/test_todo.py
  tests/test_utils.py
  things_cloud/models/types.py
  things_cloud/utils.py
  uv.lock
Due: poetry-check, ruff-lint, ruff-format, pyright

ci: invoke linters without pre-commit
  .github/workflows/python-app.yml
Due: none

ci: invoke linters without pre-commit (#222)
  .github/workflows/python-app.yml
Due: none

Path conditions:
  poetry-check: any of: ^(.*/)?(pyproject\.toml|poetry\.lock)$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$
